<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/index.css">
<title>CSIS 3275 - 002</title>
</head>
<body>
	<h1>Group 8 - Assignment 2</h1>
	<h2>Meet the Students</h2>

	<div class="image-grid">
		<a th:href="@{/student/habib}"><img th:src="@{/selfies/hja_73_selfie.jpg}" alt="habib">Habib Javed</a>
		<a th:href="@{/students/ihe-49-View}"><img th:src="@{/selfies/ihe-49-Selfie.jpg}" alt="Ilich">Ilich Hermosillo</a>
		<a th:href="@{/student/ben}"><img th:src="@{/selfies/hdo-37-selfie.jpg}" alt="Thanh Hung,Do">Thanh Hung, Do</a>
	</div>
</body>
</html>